# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
myenv/


# Environment variables
.env

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log and cache
*.log
*.sqlite3
.cache/

.ipynb